<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549893694825-g870lpadmd8ten44o0trlc0b4gsbnufa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549893694825-g870lpadmd8ten44o0trlc0b4gsbnufa</string>
	<key>API_KEY</key>
	<string>AIzaSyDTczUESeUxLZb32SrJqxKIr-dIUcM8nJM</string>
	<key>GCM_SENDER_ID</key>
	<string>549893694825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leaveManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>apgcl-leave</string>
	<key>STORAGE_BUCKET</key>
	<string>apgcl-leave.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549893694825:ios:f5ef9e0f448caa44ec09f8</string>
</dict>
</plist>